  </p>
    <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <span>Note:<i> The validation the URL field is provided by Tim Morgan's validates_url plugin, it will fail on some perfectly valid URLs.  I use it here just to show child-class-specific validations.</i></span>